<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        
        body{
            background-image: url('G:/5th Sem/Web Programming/LogiPro/static/img/tna.jpg');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        div{
            color: azure;
            line-height: 2em;
        }

        h1{
            color:aquamarine;
            text-align: center;
        }
    </style>
   
   <h1>Terms and conditions</h1>
   <br>
   <br>
   <div >
       <ol>
           <li>Access to any Site is permitted on a temporary basis and we reserve the right to withdraw or amend the service we provide on the Site or part of the Site without notice. We will not be liable or responsible if for any reason any or all Site(s)
               is (are) unavailable at any time or for any period.</li>
           <li>We may update any Site from time to time, and may change the content at any time. Please note that any of the content on any Site may be out of date at any time, and we are under no obligation to update it.</li>
           <li>The information and materials on any Site are not intended to amount to advice on which you should rely. As such, we disclaim all liability and responsibility arising from any reliance placed on such information and materials by any visitor
               to the Site, or by any person who may be informed of any of its content.</li>
           <li>Where you are required to register to use a Site or part of a Site, it is your responsibility to provide accurate and complete registration details and to keep such details up to date. We are entitled to rely on any such registration details
               you provide to us.</li>
           <li>You are responsible for everything done using your registration details. You must not disclose your login details to any other person. If you think that another person may have access to, or be using, your registration details, you must inform
               us immediately.</li>
           <li>We may suspend, terminate or prevent your account and/or your access to any or all Site(s) at our sole discretion. Where we suspend, terminate or prevent your registration, you must not attempt to re-register or submit any content, material
               or applications without our prior written consent.</li>
           <li>If you know or suspect that anyone other than you knows your user identification code or password, you must promptly notify us</li>
           <li>You acknowledge that we are not responsible for checking, monitoring or moderating any Content and you remain solely responsible for all Content that you upload or submit.</li>
           <li>We are not liable or responsible for any third party content on any Site. Third party content includes, for example, comments, blogs and articles posted by any third parties, Content, the content of advertisements, applications posted by other
               third parties and content accessed through applications.</li>
           <li>For the avoidance of doubt, we are the owner or the licensee of all intellectual property rights in all Sites. All such rights are reserved. Our status (and that of any identified contributors) as the authors of content on our site must always
               be acknowledged.</li>
           <li>We acknowledge and agree that you (or your licensor) retain(s) ownership in any copyright you may have in the Content you submit or upload to any Site, in accordance with the Terms.</li>
           <li>You acknowledge and agree that from time to time we may need to suspend access to all or a part of any Site while we:
               <ul>
                   <li>fix defects and errors in the Site</li>
                   <li>install updates and undertake general diagnosis and maintenance of the Site</li>
                   <li>undertake emergency maintenance and/or suspend access to the servers, and that as a result of which the Site may be less accessible or unavailable to you from time to time.</li>
               </ul>
           </li>
   </div>

</body>

</html>